.minimap-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90vw;
  height: 85vh;
  padding: 12px;
  overflow-y: auto;
  border-radius: 8px;
  font-family: 'Cinzel', serif;

  background-image: url('../../assets/ui/parchment-background.webp');
  background-repeat: repeat;
  background-size: 512px 512px;
  background-position: center;

  filter: brightness(1.02) contrast(0.98);
}

.minimap-canvas {
  //width: 290px;
  //height: 290px;
  border: 2px solid #666;
  border-radius: 8px;
  background: #111;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
