<!-- @if (character) { -->

<div class="game-container">
  <!-- Game canvas -->
  <div class="game-wrapper">
    <canvas #gameCanvas id="myCanvas"></canvas>
  </div>

  <!-- HUD TOP -->
  <div class="hud-top">
    <div class="hud-row hud-top-row">

      <!-- LEFT : Portrait + Infos -->
      <div class="hud-character-block">
        <img class="portrait" [src]="portraitPath" alt="portrait" />

        <div class="character-infos">
          <div class="name-row">
            <span class="name">{{ character?.name }}</span>
            <span class="lvl">Lv {{ character?.level }}</span>
          </div>

          <div class="bar hp-bar">
            <div class="fill"
                 [style.width.%]="(character?.hp || 0) / (character?.maxHp || 1) * 100"></div>
          </div>

          <div class="bar mp-bar">
            <div class="fill"
                 [style.width.%]="(character?.mp || 0) / (character?.maxMp || 1) * 100"></div>
          </div>

          <div class="bar xp-bar">
            <div class="fill"
                 [style.width.%]="characterXPPercent || 0"></div>
          </div>
        </div>
      </div>

      <!-- RIGHT : Buttons (unchanged) -->
      <div class="hud-buttons">
        <div class="hud-button" (click)="openInventoryPanel()">
          <img src="assets/ui/hud-camp.png" alt="Backpack" />
        </div>
        <div class="hud-button" (click)="openLootPanel()">
          <img src="assets/ui/hud-loot.png" alt="Skills" />
        </div>
        <div class="hud-button" (click)="openPauseMenu()">
          <img src="assets/ui/hud-settings.png" alt="Settings" />
        </div>
      </div>

    </div>
  </div>

  <!-- HUD BOTTOM -->
  <div class="hud-bottom">
    <div class="tile-info">
      {{ currentTile?.description }}
    </div>
  </div>

  <!-- Pause Menu Overlay -->
  @if (showMenuPanel) {
    <div class="common-overlay">
      <div class="common-wrapper">
        <div class="common-header">
          <div class="common-title">Pause</div>
          <button class="close-btn" (click)="closePauseMenu()">✕</button>
        </div>
        <hr class="common-separator" />
        <div class="pause-menu">
          <div class="pause-nav">
            <button class="pause-btn" (click)="closePauseMenu()">Continue</button>
            <button class="pause-btn"  (click)="saveGameManual()">Save Game</button>
            <button class="pause-btn"  (click)="goHome()">Back to home</button>
          </div>

        </div>
      </div>
    </div>
  }

  @if (activeOverlay) {
    <div class="common-overlay"  [class.hidden]="isOverlayPaused">
      <div class="common-wrapper">
        <app-overlay-window
        [kind]="activeOverlay.kind"
        [data]="activeOverlay"
        (close)="activeOverlay = null"
        (actionSelected)="onOverlayAction($event)">
      </app-overlay-window>
      </div>
    </div>
  }

  @if (showPreCombat) {
    <app-pre-combat-window
      [player]="combatService.getPlayerEntity()!"
      [enemy]="combatService.getEnemyEntity()!"
      (fight)="onFightConfirmed()"
      (flee)="onFleeAttempt()">
    </app-pre-combat-window>
  }

  @if (showCombat) {
    <app-combat (closed)="onCombatClosed()"></app-combat>
  }

  @if (showInventoryPanel) {
    <div class="common-overlay">
      <div class="common-wrapper">
        <div class="common-header">
          <div class="common-title">Camp</div>
          <button class="close-btn" (click)="closeInventoryPanel()">✕</button>
        </div>
        <hr class="common-separator" />
        <app-camp-panel></app-camp-panel>
      </div>
    </div>
  }

  @if (showLootPanel) {
    <div class="common-overlay">
      <div class="common-wrapper">
        <div class="common-header">
          <div class="common-title">Ground Items</div>
          <button class="close-btn" (click)="closeLootPanel()">✕</button>
        </div>
        <hr class="common-separator" />
        <app-loot-panel></app-loot-panel>
      </div>
    </div>
  }

  @if(diceVisible) {
    <app-dice-roll
      [orb]="pendingOrb"
      [orbPower]="pendingOrbPower"
      (rolledResult)="onDiceRolled($event)">
    </app-dice-roll>
  }

</div>
