.pixi-board {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    border: 1px solid #333;
    border-radius: 6px;
    image-rendering: pixelated;
  }
}

