<!-- @if (character) { -->

<div class="game-container">
  <!-- Game canvas -->
  <canvas #gameCanvas id="myCanvas"></canvas>

  <!-- HUD TOP -->
  <div class="hud-top">
    <div class="hud-row hud-top-row">
      <div class="character-name">
        <span>{{ character?.name }}</span>
        <span class="lvl">Lv {{ character?.level }}</span>
      </div>

      <div class="hud-buttons">
        <div class="hud-button" (click)="openInventoryPanel()">
          <img src="assets/ui/hud-stats.png" alt="Backpack" />
        </div>
        <div class="hud-button" (click)="openLootPanel()">
          <img src="assets/ui/hud-loot.png" alt="Skills" />
        </div>
        <div class="hud-button" (click)="openPauseMenu()">
          <img src="assets/ui/hud-settings.png" alt="Settings" />
        </div>
      </div>
    </div>

    <div class="hud-row hud-bottom-row">
      <!-- Stats -->
      <div class="stats">
        <div class="stat">
          <img src="assets/ui/hp.png" alt="HP" />
          <span>{{ character?.hp }} / {{ character?.maxHp }}</span>
        </div>
        <div class="stat">
          <img src="assets/ui/mana.png" alt="MP" />
          <span>{{ character?.mp }} / {{ character?.maxMp }}</span>
        </div>
        <div class="stat">
          <span>XP</span>
          <span>{{ character?.xp }}</span>
        </div>
        <div class="stat">
          <span>Gold</span>
          <span>{{ character?.gold }}</span>
        </div>
      </div>

      <!-- Orbs (2x2) -->
      <div class="orbs-grid">
        @for (orb of orbs; track orb.name) {
          <div class="orb">
            <img [src]="orb.icon" [alt]="orb.name" />
            <span>{{ orb.value }}</span>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- HUD BOTTOM -->
  <div class="hud-bottom">
    <div class="tile-info">
      {{ currentTile?.description }}
    </div>
  </div>

  <!-- Pause Menu Overlay -->
  @if (showMenuPanel) {
    <div class="common-overlay">
      <div class="common-wrapper">
        <div class="common-header">
          <div class="common-title">Pause</div>
          <button class="close-btn" (click)="closePauseMenu()">✕</button>
        </div>
        <hr class="common-separator" />
        <div class="pause-menu">
          <div class="pause-nav">
            <button class="pause-btn" (click)="closePauseMenu()">Continue</button>
            <button class="pause-btn"  (click)="saveGameManual()">Save Game</button>
            <button class="pause-btn"  (click)="goHome()">Back to home</button>
          </div>

        </div>
      </div>
    </div>
  }

  @if (activeOverlay) {
    <div class="common-overlay"  [class.hidden]="isOverlayPaused">
      <div class="common-wrapper">
        <app-overlay-window
        [kind]="activeOverlay.kind"
        [data]="activeOverlay"
        (close)="activeOverlay = null"
        (actionSelected)="onOverlayAction($event)">
      </app-overlay-window>
      </div>
    </div>
  }

  @if (showCombat) {
    <app-combat (closed)="onCombatClosed()"></app-combat>
  }

  @if (showInventoryPanel) {
    <div class="common-overlay">
      <div class="common-wrapper">
        <div class="common-header">
          <div class="common-title">Camp</div>
          <button class="close-btn" (click)="closeInventoryPanel()">✕</button>
        </div>
        <hr class="common-separator" />
        <app-player-panel></app-player-panel>
      </div>
    </div>
  }

  @if (showLootPanel) {
    <div class="common-overlay">
      <div class="common-wrapper">
        <div class="common-header">
          <div class="common-title">Ground Items</div>
          <button class="close-btn" (click)="closeLootPanel()">✕</button>
        </div>
        <hr class="common-separator" />
        <app-loot-panel></app-loot-panel>
      </div>
    </div>
  }

  @if(diceVisible) {
    <app-dice-roll
      [orb]="pendingOrb"
      [orbPower]="pendingOrbPower"
      (rolledResult)="onDiceRolled($event)">
    </app-dice-roll>
  }

</div>
