<div class="home-screen">
  <div class="menu">
    <div class="menu-top">
      <img class="logo" src="assets/ui/aghasme.png" >
    </div>

    <div class="menu-center">
      <button class="menu-btn blue-aghasme" (click)="newGame()">{{ 'MENU.NEW_GAME' | translate }}</button>
      @if (hasSave) {
        <button class="menu-btn blue-aghasme" (click)="continueGame()">{{ 'MENU.CONTINUE' | translate }}</button>
      }
      <button class="menu-btn blue-aghasme" (click)="loadGame()">{{ 'MENU.LOAD_GAME' | translate }}</button>
    </div>

    <button class="menu-btn blue-aghasme menu-bottom" (click)="back()">{{ 'MENU.BACK_HOME' | translate }}</button>
  </div>
</div>
