<div class="overlay-window" (click)="onSkipText()">
  <div class="overlay-content">
    <div class="overlay-top">
      <img class="overlay-icon" [src]="data.icon" [alt]="mainTitle" />
      <h2 class="overlay-name">{{ mainTitle }}</h2>
    </div>

    <hr class="divider" />

    <div
      class="overlay-header"
      [style.background-image]="'url(assets/overlays/backgrounds/' + kind + '.png)'"
    ></div>

    <hr class="divider" />

    <div class="overlay-body" #bodyContainer>
      <h4 class="overlay-title" [class.no-cursor]="!writingTitle">{{ displayedTitle }}</h4>
      <p class="overlay-description" [class.no-cursor]="!writingDesc">{{ displayedDescription }}</p>
    </div>

    @if(data.actions.length) {
      <hr class="divider last" />
    }

    <div class="overlay-actions">
      @for (action of data.actions; track trackByAction($index, action)) {
        <div class="overlay-action-block">
          <button class="action-btn" (click)="onAction(action)" [disabled]="isActionDisabled(action)">
            {{ action }}
          </button>
          <small class="consequence">→ {{ getConsequence(action) }}</small>
        </div>
      }
    </div>

    <hr class="divider" [class]="!data.actions.length ? 'last':''" />

    <div class="overlay-nav">
      @if(data.isCompleted) {
        <button class="nav-btn" (click)="quit()" [disabled]="disableQuit">Quit</button>
      } @else {
        <button class="nav-btn" (click)="continue()" [disabled]="disableContinue()">Continue</button>
      }
    </div>
  </div>
</div>
