<div class="dice-roll-overlay" [hidden]="!visible">
  <div class="dice-roll-window dark-background">
    <h2 class="gold-aghasme">Roll the {{ orb | titlecase }} Die</h2>

    <div class="roll-infos parchment-background">
      <p>Your {{ orb }} score: <strong>{{ orbPower }}</strong></p>
      <p>Modifier: <strong>{{ modifier }}</strong></p>
      <p>Difficulty: <strong>{{ difficulty }}</strong></p>
    </div>

    <canvas #diceCanvas></canvas>

    <div class="controls">
      @if(!rolled && !rolling) {
        <button (click)="roll()">
          <img class="icon" src="assets/ui/hud-dice.png"/>
        </button>
      }

      @if(rolling) {
        <div class="rolling-text">Rolling...</div>
      }

      @if(rolled) {
        <div class="result-block">
          <p class="gold-aghasme">Total: <strong>{{ total }}</strong></p>

          <button class="close-btn" (click)="emitResult()">
            <img class="icon" src="assets/ui/btn-ok.png"/>
          </button>

          <div class="result-verdict" [ngClass]="displayVerdict">
            @switch (displayVerdict) {
              @case ('criticalFail') { ❌ Critical Fail! }
              @case ('fail') { Fail }
              @case ('success') { ✅ Success }
              @case ('criticalSuccess') { 🌟 Critical Success! }
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
