.prologue-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  color: #eee;
  user-select: none;

  font-family: 'Spectral', serif;

  background: #000;
  background-image: url('../../../../assets/ui/dark-background.webp');
  background-repeat: repeat;
  background-size: 512px 512px;
  background-position: center;
  filter: brightness(1.02) contrast(0.98);
}

.title {
  margin: auto;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.text-wrapper {
  flex: 1;
  padding: 16px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.4rem;
  white-space: pre-line;
  text-align: justify;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;

  .menu-btn {
    padding: 10px 18px;
    // background: rgba(255, 255, 255, 0.1);
    // border: 1px solid #777;
    // color: #fff;
    // border-radius: 8px;
  }
}
