/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
          env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  font-family: 'Spectral', serif;
}

.dark-background {
  background-image: url('/assets/ui/dark-background.webp');
  background-repeat: repeat;
  background-size: 512px 512px;
  background-position: center;
  filter: brightness(1.02) contrast(0.98);
}

.parchment-background {
  background-image: url('/assets/ui/parchment-background.webp');
  background-repeat: repeat;
  background-size: 512px 512px;
  background-position: center;
}

.blue-aghasme {
  font-family: "Spectral" !important;
  color: #7dacbb !important;
}
.gold-aghasme {
  font-family: "Spectral" !important;
  color: #de7d2a !important;

  &[disabled] {
    color: #d7782770 !important
  }
}

.menu-btn {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 8px;
  background: transparent;
  letter-spacing: 0.8px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05), inset 0 0 6px rgba(255, 255, 255, 0.03), 0 4px 10px rgba(0, 0, 0, 0.8);
  border: none;
  transition: transform 0.15s
    ease, box-shadow 0.25s
    ease, border-color 0.25s
    ease, color 0.25s
    ease;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);

  &:active, &.active {
    transform: scale(0.95);
    background-color: #a3612612;
    box-shadow:
      inset 0 0 25px rgba(255, 210, 120, 0.08),
      inset 0 0 8px rgba(255, 210, 120, 0.05),
      0 6px 14px rgba(0, 0, 0, 0.9);
  }

  &:hover {
    border-color: rgba(255, 200, 120, 0.3);
    color: #fff9e6;

    box-shadow:
      inset 0 0 25px rgba(255, 210, 120, 0.08),
      inset 0 0 8px rgba(255, 210, 120, 0.05),
      0 6px 14px rgba(0, 0, 0, 0.9);
  }

  &:focus {
    outline: none;
    box-shadow:
      0 0 0 3px rgba(255, 200, 150, 0.2),
      0 4px 12px rgba(0, 0, 0, 0.7);
  }
}


.overlay-window, .hud, .menu, .inventory-panel {
  margin: env(safe-area-inset-top) env(safe-area-inset-right)
          env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  src: url('/assets/fonts/spectral/Spectral-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/spectral/Spectral-SemiBold.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/spectral/Spectral-Bold.woff2') format('woff2');
}