/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
          env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  font-family: 'Spectral', serif;
}

.blue-aghasme {
  font-family: "Spectral" !important;
  color: #7dacbb !important;
}

.overlay-window, .hud, .menu, .inventory-panel {
  margin: env(safe-area-inset-top) env(safe-area-inset-right)
          env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  src: url('/assets/fonts/spectral/Spectral-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/spectral/Spectral-SemiBold.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/spectral/Spectral-Bold.woff2') format('woff2');
}